.vendeur0 {
    position: fixed;
    display: block;
    height: 680px;
    width: 300px;
    background-color: #c09c82;
    flex-direction: column;
}

.vendeur1 {
    display: block;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.vendeur2 {
    display: flex;
    gap: 50px;
}

.but {
    height: 50px;
    width: 300px;
    word-spacing: 10px;
    margin-top: 15px;
}

.recherche {
    width: 200px;
    height: 30px;
    margin-right: 10px;
}

.div1 {
    word-spacing: 300px;
}