.vendeur0 {
    position: fixed;
    display: block;
    height: 680px;
    width: 300px;
    background-color: #c09c82;
    flex-direction: column;
}

.vendeur1 {
    display: block;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.vendeur2 {
    font-size: 25px;
    display: flex;
    gap: 50px;
}

h2 {
    text-align: center;
}

.compte0 {
    border: 2px solid black;
    height: 500px;
    width: 300px;
    display: block;
    text-align: center;
    margin-left: 500px;
    background-color: antiquewhite;
}

.compte1 {

    display: block;
    text-align: center;
}