/* Style global */
body {
    font-family:'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333333;
}

/* En-tête */
.entete {
    background-color: #ff6600;
    color: white;
    padding:16px;
    text-align: center;
}

/* Contenu principal */
.contenu {
    max-width: 900px;
    margin: auto;
    padding: 16px;
}

/* Bloc générique */
.bloc {
    background: white;
    margin-bottom: 16px;
    padding: 16px;
    border-radius:8px ;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Image produit */
.image-produit img {
    width: 30%;
    border-radius: 8px;
}
.price {
    position: relative;
    flex-direction: column;
}

/* Bouton achat */
.btn-acheter {
    position: relative;
    left: 25%;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}
.img {
    width: 70px;
    height: 70px;
}
